<div class="formeconten">
    <p id="panier">Panier</p>
    <form action="/action_page.php">
        <p class="qté">Qté</p>
        <select id="cars" name="sac">
            <option value="">0</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>
        <hr>
        <p class="qté">Qté</p>
        <select id="cars" name="sac">
            <option value="">0</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>
        <hr>
        <p id="total">Total</p>
        <hr>
        <button type="submit"> Paiement</button>

    </form>

</div>