<div class="formeconten">




    <p id="cabo4">Sélectionnez un mode de paiement</p>

    <form action="#" method="post">
        <div class="inputpay">
            <input type="text" name="fullname" placeholder=" ">
            <img src="assets/icon/finance_apple_pay_icon_160746.ico" alt="cabo">
        </div>
        <div class="inputpaypal">
            <input type="text" name="Addresse" placeholder=" ">
            <img src="assets/icon/8393-paypal_102461.ico" alt="cabo1">
        </div>
        <div class="inputvisa">
            <input type="text" name="" placeholder=" ">
            <div class="cabo2">
                <img src="assets/icon/visa_payment_method_card_icon_142746.ico" alt="">
                <img src="assets/icon/mastercard_payment_method_icon_142750.ico" alt="">
                <img src="assets/icon/maestro_payment_method_card_icon_142736.ico" alt="">
            </div>
        </div>
        <div id="nor1">
            <p>Cartes cadeaus </p>
            <div class="tito">
                <input type="password" name="fullname" placeholder="saisissez le code ">
                <button type="submit"> Appliquer</button>

            </div>

        </div>

        <button id="nor" type="submit"> valider</button>
    </form>




</div>