<ul id="barbas1">

    <li><a href=""><img src="assets/icon/home_house_icon-icons.com_49851.ico" alt=""></a></li>
    <li><a href=""><img src="assets/icon/search_find_locate_15255.ico" alt=""></a></li>
    <li><a href=""><img src="assets/icon/hearts_heart_love_favorite_5565.ico" alt=""></a></li>
    <li><a href=""><img src="assets/icon/4544843-business-comerce-delivery-shop-trolley_121443.ico" alt=""></a></li>
    <li><a href=""><img src="assets/icon/4092564-about-mobile-ui-profile-ui-user-website_114033.ico" alt=""></a></li>
</ul>
