<form [formGroup]="userForm">
    <div class="mb-3">

        <label for="" class="form-label">Prenom</label>
        <input type="text" formControlName="firstName" class="form-control" required>

        <label for="" class="form-label">Nom</label>
        <input type="text" formControlName="lastName" class="form-control" required>

        <label for="" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" required>

        <label for="" class="form-label">Mot de passe </label>
        <input type="password" formControlName="password" class="form-control" required>

        <label for="" class="form-label">Adresse </label>
        <input type="text" formControlName="adresse" class="form-control" required>

        <label for="" class="form-label">Code postale</label>
        <input type="cp" formControlName="cp" class="form-control" required>

        <label for="" class="form-label">Ville</label>
        <input type="ville" formControlName="ville" class="form-control" required>

        <label for="" class="form-label">Pays</label>
        <input type="pays" formControlName="pays" class="form-control" required>

        <label for="" class="form-label">Telephone</label>
        <input type="telephone" formControlName="telephone" class="form-control" required>

        <button (click)="onSubmit(userForm)" type="submit" [disabled]="!userForm.valid"
            class="btn btn-primary">Valider</button>
    </div>

</form>