<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " aria-current="page" routerLink='user-list' routerLinkActive="active">Liste
                    des utilisateur</a>
                <a class="nav-link" aria-current="page" routerLink='user-form' routerLinkActive="active">S'inscrire</a>
                <a class="nav-link" aria-current="page" routerLink='contact' routerLinkActive="active">Contact</a>
                <!-- Ajout de lien dans la  navbar -->
            </div>
        </div>
    </div>
</nav>
