<!-- <form [formGroup]="itemForm">
    <div class="mb-3">

        <label for="" class="form-label">Nom</label>
        <input type="text" formControlName="nom" class="form-control" required>

        <label for="" class="form-label">Description</label>
        <input type="text" formControlName="description" class="form-control" required>

        <label for="" class="form-label">Photo</label>
        <input type="text" formControlName="photo" class="form-control" required>

        <label for="" class="form-label">Stock</label>
        <input type="number" formControlName="stock" class="form-control" required>

        <label for="" class="form-label">Prix</label>
        <input type="number" formControlName="prix" class="form-control" required>

        <button (click)="onSumit(itemForm)" type="submit" [disabled]="!itemForm.valid"
            class="btn btn-primary">Valider</button>
    </div>

</form> -->

<form [formGroup]="itemForm">

    <div class="formnor">
        <!-- <div id="photo">
            <a href="">
                <img src="/assets/icon/4115237-add-plus_114047.ico" alt="" id="photo1">
            </a>
        </div> -->

        <input type="file" formControlName="photo" class="form-control" accept="image/png, image/jpeg image/jpg"  required>


        <p>Titre</p>
        <input type="text" formControlName="nom" class="form-control" required>

        <!-- <p>Variation</p>
        <input type="text"> -->

        <!-- <p>Tailles</p>
        <input type="text"> -->

        <p>Description</p>
        <input type="text" formControlName="description" class="form-control" required>

        <p>Prix</p>
        <input type="number">

        <p>Stock sisponible</p>
        <input type="number">


        <div id="photo3">
            <button (click)="onSubmit(itemForm)" type="submit" > Ajouter/Modifier</button>
            <img src="/assets/icon/recycle_recyclebin_full_delete_trash_1772.ico" alt="" id="photo4">

        </div>
    </div>

</form>