
    <div id="mio3">
        <img src="assets/icon/4544854-business-comerce-delivery-shop-truck_121454.ico" alt="">
        <p> Modes de Livraison</p>
    </div>
    <div class="formeconten">
        <div id="mio">
            <img src="assets/icon/3702394-cardbox-delivery-free-shipment-shipping_108734 (1).ico" alt="">
            <p>Cilck collect</p>
        </div>
        <div id="nor1">
            <p id="box1">Gratuit</p>

        </div>
        <div id="mio1">
            <img src="assets/icon/fast_delivery_shop_online_ecommerce_shopping-49_icon-icons.com_61655 (1).ico" alt="">
            <p>Livraison</p>
        </div>
        <div id="nor1">
            <input type="password" name="fullname" placeholder="saisissez le code ">
            <input type="password" name="fullname" placeholder="saisissez le code ">
        </div>
        <div id="mio2">
            <img src="assets/icon/Pin-location-point_icon-icons.com_51943 (1).ico" alt="">
            <p>Point de Retrait</p>
        </div>
        <div id="nor1">
            <p id="box3">Gratuit</p>
        </div>

    </div>

